/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Volkhov:wght@400;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* utilities */

:root {
  --text-color: #5e6282;
  --dark-color: #181e4b;
  --button-color: #f1a501;
  --white-color: #fff;
  --card-title: #1e1d4c;
  --primary-color: #df6951;
  --linear-gradient: linear-gradient(30deg, #ff946d, #ff7d68);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Volkhov", serif;
}
/* 
a {
  text-decoration: none;
  font-size: 17px;
} */

.container {
  max-width: 1190px;
  margin: 0 auto;
}

.small__heading {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--dark-color);
}

.section__heading {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: var(--dark-color);
}

.card__image {
  display: flex;
  justify-content: center;
}

.card__image img {
  height: 78px;
  width: 92px;
  object-fit: cover;
}

.card__title {
  margin-top: 34px;
  margin-bottom: 15px;
  color: var(--card-title);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;
}

.card__description {
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
}

/* header css */

header {
  background-image: url("../images/hero.svg");
  background-position: top right;
  background-repeat: no-repeat;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  list-style-type: none;
}

#click {
  display: none;
}

.menu__button {
  display: none;
}

.nav__items {
  align-items: center;
  list-style-type: none;
  display: flex;
}

.nav__items li {
  cursor: pointer;
  margin-right: 55px;
}

.nav__items li a {
  color: var(--text-color);
}

#hero {
  display: flex;
  align-items: center;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero__content h5 {
  color: var(--primary-color);
  font-size: 20px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.hero__content h1 {
  font-size: 84px;
  font-weight: 600;
  color: var(--dark-color);
}

.hero__content p {
  font-size: 16px;
  color: var(--text-color);
}

.hero__content a {
  margin-top: 34px;
  display: inline-block;
}

.hero__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero__button {
  width: 170px;
  background-image: var(--linear-gradient);
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  color: var(--white-color);
}

/* category start */
#category {
  margin: 60px 0;
  background-image: url("../images/service-bg.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

.category__container,
.destination__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 68px;
}

.single__category {
  margin: 30px 10px;
  width: 250px;
  padding: 20px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.02);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 36px;
}

.single__category:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.1);
}

/* category end */

/* destination start */

#destination {
  margin: 60px 0;
}

.single__destination {
  margin: 30px 10px;
  width: 360px;
  padding: 20px;
  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.02);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
  border-radius: 36px;
}

.single__destination:hover {
  box-shadow: 0 100px 80px rgba(0, 0, 0, 0.1);
}

.single__destination img {
  height: 457px;
  width: 314px;
  object-fit: cover;
}

.destination__info {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destination__title {
  color: var(--card-title);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
}

/* destination end */
